/* Font */
@import url("https://fonts.googleapis.com/css2?family=Dosis&family=PT+Mono&display=swap");



/* Header */
.header-section {
  font-family: "PT Mono", monospace;
  text-align: center;
  font-size: 35px;
}
.header-section span {
  color: rgb(0, 251, 251);
}
/* Main */
.main-section {
  font-family: "Dosis", sans-serif;
}
body {
  background-color: #b5f7f1;
}

/* Search */
.search-section {
  margin-bottom: 30px;
}
.search-container {
  display: flex;
  justify-content: center;
}
#input-field,
#search-button {
  font-family: "Dosis", sans-serif;
  font-weight: 800;
  font-size: 20px;
  padding: 5px;
  margin: 2px;
  border: 2px solid rgb(104, 129, 139);
  border-radius: 5px;
}
#search-button {
  color: #4c81ac;
  transition: 0.7s;
}
#search-button:hover {
  color: rgb(51, 155, 124);
  background-color: gray;
}
#input-field {
  width: 30%;
}
.status {
  display: flex;
  justify-content: center;
}
#searching {
  display: none;
  margin-top: 2px;
  text-align: center;
  font-weight: 600;
  color: rgb(1, 245, 151);
}
#empty-search {
  display: none;
  margin-top: 2px;
  text-align: center;
  font-weight: 600;
  color: red;
}
#book-count {
  visibility: hidden;
  margin-top: 2px;
  text-align: center;
  font-weight: 600;
  color: rgb(2, 53, 112);
}
#books-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.book {
  padding: 10px;
  margin: 10px;
  background-color: #cbf8ed;
  border-radius: 10px;
}
.bold-text {
  font-weight: 600;
}
.book-img {
  display: flex;
  justify-content: center;
}

